<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>Brekky Guide</h1>
        <p>朝食の美味しいホテルを探せるサイト</p>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <h3><i class="fas fa-search fa-fw c-orange"></i>キーワードから探す</h3>
  <div class="row search-keywords">
    <div class="text-center col-sm-12">
      <%= form_tag(new_hotel_path, method: :get, class: 'form-inline') do %>
        <div class="form-group">
          <%= text_field_tag :keyword, @keyword, class: 'form-control input-lg', placeholder: "キーワードを入力", size: 40 %>
        </div>
        <%= submit_tag 'ホテルを検索', class: 'btn btn-primary btn-lg' %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <h3><i class="fas fa-map-marker-alt fa-fw c-seagreen"></i>エリアから探す</h3>
  <div class="row search-areas">
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="area-name">
        <%= link_to "北海道", "/small_classes/1" %>
      </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="area-name">
        <%= link_to "東北", "/middle_classes?min=2&max=7" %>
      </div>
    </div>    
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="area-name">
        <%= link_to "関東", "/middle_classes?min=8&max=14" %>
      </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 mr-sm--5">
      <div class="area-name">
        <%= link_to "甲信越", "/middle_classes?id[]=15&id[]=19&id[]=20" %>
      </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="area-name">
        <%= link_to "北陸", "/middle_classes?min=16&max=18" %>
      </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="area-name">
        <%= link_to "東海", "/middle_classes?min=21&max=24" %>
      </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="area-name">
        <%= link_to "関西・近畿", "/middle_classes?min=25&max=30" %>
      </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="area-name">
        <%= link_to "中国", "/middle_classes?min=31&max=35" %>
      </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="area-name">
        <%= link_to "四国", "/middle_classes?min=36&max=39" %>
      </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="area-name">
        <%= link_to "九州", "/middle_classes?min=40&max=46" %>
      </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="area-name">
        <%= link_to "沖縄", "/small_classes/47" %>
      </div>
    </div>
  </div>
</div>