<div class="row">
  <% hotels.each do |hotel| %>
    <div class="hotel">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <img src="<%= hotel.image_url %>" alt="" >
          </div>
          <div class="panel-body">
            <div class="title-box">
              <p class="hotel-title">
                <%= link_to hotel.name,
                controller: "hotels",
                action: "new",
                hotel_no: hotel.no %>
              </p>
            </div>
            <p class="hotel-address"><%= hotel.address1 %>／<%= hotel.address2 %></p>
            <p>食事評価：<span class="meal-average"><%= hotel.meal_average %></span></p>
            <p>1泊あたり<span class="min-charge"><%= hotel.min_charge %>円</span>〜</p>
            <div class="btn-favorite-s text-center">
              <% if logged_in? %>
                <%= render 'favorites/like_button_s', hotel: hotel %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>