<% if hotels.present? %>
  <div class="row">
    <% hotels.each do |hotel| %>
      <div class="item">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <img src="<%= hotel.image_url %>" alt="" >
            </div>
            <div class="panel-body">
              <% if hotel.persisted? %>
                <p class="item-title"><%= link_to hotel.name, hotel %></p>
              <% else %>
                <p class="item-title"><%= hotel.name %></p>
              <% end %>
              食事レビュー：<%= hotel.meal_average %>
              <div class="buttons text-center">
                <% if logged_in? %>
                  <%= render 'favorites/like_button', hotel: hotel %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>