<div>
<% hotels.each do |hotel| %>
名前:<%= hotel.name %><br>
かな:<%= hotel.kananame %><br>
特徴:<%= hotel.special %><br>
住所:<%= hotel.address1 %><br>
住所2:<%= hotel.address2 %><br>
アクセス:<%= hotel.access %><br>
<img src="<%= hotel.image_url %>" alt="" ><br>
<img src="<%= hotel.thumbnail_url %>" alt="" ><br>
レビュー数:<%= hotel.review_count %><br>
レビュー平均:<%= hotel.review_average %><br>
朝食レビュー:<%= hotel.meal_average %><br>
朝食場所:<%= hotel.breakfast_place %><br><br><br><br>
<% end %>
</div>